In [14]:
using CSV, DataFrames
# Create a dataframe row
row = DataFrame(id = 1, b = 2, c = 3)

1×3 DataFrame
 Row │ id     b      c
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │     1      2      3

In [15]:
# Get value b and c of the row in row that has the id = 1
row_new=vcat(row,DataFrame(id="new", b=row[row.id .== 1, :b], c=row[row.id .== 1, :c]))

2×3 DataFrame
 Row │ id   b      c
     │ Any  Int64  Int64
─────┼───────────────────
   1 │ 1        2      3
   2 │ new      2      3

In [7]:
strings=[]
for i in 1:10
    for k in 1:3
        # create string with i and k
        str = string(i, "_",k)
        push!(strings,str)
    end
end

In [8]:
strings

30-element Vector{Any}:
 "1_1"
 "1_2"
 "1_3"
 "2_1"
 "2_2"
 "2_3"
 "3_1"
 "3_2"
 "3_3"
 "4_1"
 ⋮
 "8_1"
 "8_2"
 "8_3"
 "9_1"
 "9_2"
 "9_3"
 "10_1"
 "10_2"
 "10_3"